 @media print {
          .r-table-print{width:50%;}
		 .thead-light{background-color:#f2f2f2 !important;}

		.noprint{ display:none !important;}
		.box.box-danger {
    border-top-color: #fff !important;
}

.hostel-bil-table tr td{padding:2px !important;}
 }